[Unit]
Description=Unblock Netease Music Flac

[Service]
Environment=MENABLE_FLAC=true NO_CACHE=true ENABLE_LOCAL_VIP=true FOLLOW_SOURCE_ORDER=true LOG_FILE=/tmp/flac.log
ExecStart=/usr/bin/UnblockNeteaseMusic-b -o pyncmd kuwo -p 5200:5201 -s


[Install]
WantedBy=default.target
